[user]
	email = robert20paul@gmail.com
	name = Robert
[alias]
	cam = commit -am
	up-pull = pull upstream master
	lg = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate -20 --reverse
	hard-clean = !git clean -fd && git stash
	clear-remote-local = !git branch -r | grep $1 | xargs git branch -rD
	new = !sh -c 'git lg $1@{1}..$1@{0} "$@"'
	sortdiff = !sh -c 'git diff "$@" | grep "^[+-]" | sort --key=1.2 | uniq -u -s1'
	undo-reset = reset 'HEAD@{1}'
	search-todo = !sh -c 'git diff | grep TODO'
	merge-theirs = merge --strategy=recursive --strategy-option=theirs
	merge-ours = merge --strategy=recursive --strategy-option=ours

